home
  color: $primary-color
  text-align: center

  h1
    margin-top: 40px
    font-size: 200px

  h4 
    font-size: 40px
    font-family: $font-detail
    position: relative
    bottom: 27px

  .buttons
    margin-top: 10px

    p 
      font-size: 25px

    button
      font-family: $font-detail
      font-size: 60px
      margin: 20px 80px 20px 80px
      width: 200px
      height: 100px

  .question
    margin-top: 60px
    font-size: 35px

