---
http_interactions:
- request:
    method: post
    uri: http://api.geocod.io/v1.2/geocode?api_key=<GEOCODIO_API_KEY>
    body:
      encoding: UTF-8
      string: '"4d55f"'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Billable-Lookups-Count:
      - '0'
      X-Billable-Fields-Count:
      - '0'
      Request-Handler:
      - api85
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Period:
      - '60'
    body:
      encoding: UTF-8
      string: '{"results":[{"query":"4d55f","response":{"error":"Could not geocode
        address. Postal code or city required.","results":[]}}]}'
  recorded_at: Sun, 17 May 2020 04:17:12 GMT
recorded_with: VCR 5.1.0
