---
http_interactions:
- request:
    method: post
    uri: http://api.geocod.io/v1.2/geocode?api_key=<GEOCODIO_API_KEY>
    body:
      encoding: UTF-8
      string: '"64086"'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Billable-Lookups-Count:
      - '1'
      X-Billable-Fields-Count:
      - '0'
      Request-Handler:
      - api69
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Period:
      - '60'
    body:
      encoding: UTF-8
      string: '{"results":[{"query":"64086","response":{"input":{"address_components":{"zip":"64086","country":"US"},"formatted_address":"64086"},"results":[{"address_components":{"city":"Lees
        Summit","county":"Jackson County","state":"MO","zip":"64086","country":"US"},"formatted_address":"Lees
        Summit, MO 64086","location":{"lat":38.944006,"lng":-94.288086},"accuracy":1,"accuracy_type":"place","source":"TIGER\/Line\u00ae
        dataset from the US Census Bureau"}],"_warnings":["There is a newer API version
        available, please consider upgrading to v1.5. See changelog here: https:\/\/www.geocod.io\/docs\/#changelog"]}}]}'
  recorded_at: Fri, 15 May 2020 03:32:10 GMT
recorded_with: VCR 5.1.0
