<div id='client-dashboard'>
  <h1><%= @client.first_name.capitalize + ' ' + @client.last_name.capitalize %></h1>
  <div class='dash-info'>
    <h2>Email:</h2>
    <p><%= @client.email %></p>
  </div>
</div>