<div id='client-dashboard'>
  <h1><%= @client.first_name.capitalize + ' ' + @client.last_name.capitalize %></h1>
  <div class='dash-info'>
    <h2>Email:</h2>
    <p><%= @client.email %></p>
  </div>
  <div class='find-chefs-button'><p>Find Local Chefs<p></div>
  <%= button_to 'Logout', clients_logout_path, id:'client-logout-button', method: :delete %>
</div>
