<home>
  <h1>HomeChef</h1>
  <h4>find your chef</h4>
  <p class='question'>Are you?</p>
  <div class='buttons'>
    <%= button_to "Lookin", { controller: :clients, action: "new" }, :method => :get %>
    <p>or</p>
    <%= button_to "Cookin", { controller: :chefs, action: "new" }, :method => :get %>
  </div>
  <div id='login-box'>
    <%= content_tag 'a', 'Login', class:'login-button' %><br />
  </div>
</home>

<%= javascript_pack_tag 'login' %>