#chef-dashboard
  text-align: center

  h1
    color: $primary-color
    font-size: 70px
    margin: 80px 0px 20px 0px

  li
    color: $primary-color
    font-size: 27px
    margin: 10px 0px 10px 0px
    display: block

  button
    margin-top: 300px

  .profile-pic
    display: block
    margin: auto auto 40px auto
    width: 240px
    border-radius: 90px

  .dash-info
    display: inline-block
    width: auto 
    height: auto

  .self-info, .self-info-header
    display: inline-block
    width: 300px
    margin: 0px 20px 0px 20px

  .self-info-header
    text-align: right
    width: auto
    vertical-align: top

  .self-info
    text-align: center

  #chef-logout-button
    margin: 80px 0px 40px 0px
    width: 100px

  #chef-self-desc
    color: $primary-color
    margin-top: 30px
    font-size: 20px

    h3
      margin-bottom: 10px
      display: inline-block
      width: auto

    p
      width: 450px
      word-wrap: break-word
      margin: auto

    button
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      display: block
      margin: auto
      width: 70px
      height: 20px
      color: black
      font-size: 14px
    
    textarea
      width: 480px
      height: 200px
      display: block
      margin: auto
      font-size: 14px

    #self_desc_edit_button
      display: inline-block
      background-color: white
      border-radius: 100px
      height: 25px 
      width: 25px
      margin-top: 10px

      #edit-image
        margin-top: 2px
        width: 20px
        height: 20px

      &:hover
        cursor: pointer
        border: 1px solid white

      &:active
        background-color: $color2
