#login-box
  display: block
  font-size: 1.8rem
  margin: 80px auto 200px auto
  height: 40px
  width: 120px
  border-radius: 40px
  text-align: center
  transition: all 0.5s

  .login-button
    cursor: pointer

  .login-choices
    display: inline-block
    margin: 0px 20px 0px 20px
    width: 100px
    height: 37px
    border-radius: 20px
    font-size: 20px
    background-color: $color4
    color: white

    &:hover
      background-color: white
      color: $color4
      cursor: pointer
      border-width: 6px
      border-color: $color4

  #login-email-lbl, #login-password-lbl
    font-size: 20px
    margin-top: 20px
    display: block

  #email-box, #password-box
    width: 280px
    height: 25px
    font-size: 20px
    text-align: center

  &:hover
    animation-name: login-box
    animation-fill-mode: forwards
    animation-duration: 1s
    background-color: white
    color: $color4  