$font-stack: 'Ropa Sans', sans-serif;
$font-detail: 'Caveat', cursive;
$primary-color: white;
$color2: #feb72b;
$color3: #899857;
$color4: #272727;

@import 'toastr';

// Fonts
@import url('https://fonts.googleapis.com/css?family=Caveat|Ropa+Sans&display=swap');

// Reset
@import 'base/reset';

// Layout
@import 'pages/home';
@import 'pages/client/dashboard';
@import 'pages/chef/dashboard';
@import 'components/sign_up_button';
@import 'components/alert_message';
@import 'components/login_button';
@import 'components/login_box';
@import 'components/avatar_box';
@import 'forms/new_chef';
@import 'forms/new_client';
@import 'forms/login';

body 
  background-color: $color4
  font-family: $font-stack